{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/cssdesign/design.css' %}"/>
<link rel="icon" type="jpeg/png" href="{% static 'admin/images/logo.png' %}"/>
<title>ISU Scoring System</title>
<style type="text/css">
    a:link    { text-decoration: none; font-weight: normal; background-color: none; color: blue; }
    a:visited { text-decoration: none; font-weight: normal; background-color: none; color: #000000; }
    a:hover   { text-decoration: none; font-weight: normal; background-color: none; color: #000000; }
    a:active  { text-decoration: underline; font-weight: normal; background-color: none; color: #000000; }
</style>
<div id ="leftdesign">
    <div id ="leftfont">
        <table>
            <tr><td><a href="{% url 'result' %}" target="mydis">Result All</a></td></tr>
            <tr><td><a href="{% url 'resultcrilst' %}" target="mydis">Result Criteria</a></td></tr>
            <tr><td><a href="{% url 'index' %}">Log-Out</a></td></tr>
        </table>
    </div>
</div>
<div id ="content"></div>
<iframe src ="{% url 'result' %}" frameborder="0" name ="mydis" style="position: absolute; width: 77%; height: 750px; left:300px; top: 25%;"></iframe>
{% endblock %}
