{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/cssdesign/design.css' %}"/>
<table style="border:0px; width:100%">
<tr>
<td style="border:0px; width:75%"><b>List of Users</b></td>
<td style="border:0px; width: 25%;">
    <a href="#" id="itemadd"><img src="{% static 'icon/note-add-icon.png' %}" alt="" style="width: 30px; height: 30px;"/><b>New</b></a>
    <a href="#" onclick="window.location.reload();"><img src="{% static 'icon/refresh.png' %}" alt="" style="width: 30px; height: 30px;"/><b>Refresh</b></a>
</td>
</tr>
</table>
<table width='95%'>
    <tr>
        <th style="width:10%">No.</th>
        <th style="width:30%">Name</th>
        <th style="width:20%">Username</th>
        <th style="width:10%">User Level</th>
        <th style="width:10%"></th>
    </tr>
    {% for user in user_data %}
    <tr>
        <td style="width:10%">{{ user.no }}</td>
        <td style="width:30%">{{ user.uname }}</td>
        <td style="width:20%">{{ user.username }}</td>
        <td style="width:20%">{{ user.userlevel }}</td>
        <td style="width:15%">
           
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
