<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>TABS</title>
    <style type="text/css">
        #hdmsg {
            opacity:1;
            transition:opacity 500ms;
        }
        #hdmsg.whide {
            opacity:0;
        }
        body {
            background-image: url('/static/img/bg.png');
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: auto;
        }
    </style>
</head>
<body>
    <div id="headerboxlogo"><img src="/static/images/logo.png"/></div>
    <div id="headerboxpc"><img src="/static/images/sanfermin.png"></div>
    <div style="text-align:center; width:100%">
        MISS SAN FERMIN
        <div id="headersub" style="text-align:center;">
            CAUAYAN CITY ISABELA
        </div>
        <div id="headerstat">(STATS) Scoring Tournament Automated Tabulator System</div>
    </div>
</body>
</html>
