.container{
	top:0;
	width:auto;
	height:auto;
	background-color:white;
	margin-left:0px;
	border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border: 0px solid #096600;
    -moz-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);	
}

#headerbox{

	width:auto;
	height:100px;
	background-color:#00CC00;
	top:0px;
	border-radius: 11px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border: 1px solid #096600;
    -moz-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
		
		 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#006600), to(#00CC00));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #006600, #00CC00);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #006600, #00CC00);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #006600, #00CC00);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #006600, #00CC00);
}
#headerboxlogo{
	float:left;
	height:75px;
	width:75px;
	margin-top:5px;
	margin-left:20%;	
}


img {
    max-width: 90px;
    height: 90px;
    width: 90px; /* ie8 */
}

#imgpc {
    max-width: 110px;
    height: 110px;
    width: 110px; /* ie8 */
}
#headerboxpc{
	margin-top:0px;
	margin-left:75%;
	position:absolute;
	width:75px;
	height:70px;
	background-image:url(../images/headerpc.png);
	background-repeat:no-repeat;

}

#resize {
  background: url(../images/logo.png) 0px 0px no-repeat;
  border: 3px single #fff;
  float: left;
  height: 5em;
  margin: .2em 1em 1em 0;
  width: 5em;
  overflow: hidden;
}


#headerboxname{

	height:115px;
	width:auto;
	margin-top:10px;
	margin-left:30%;
	font-family:sans-serif,arial;
	font-style:oblique;
	font-weight:bold;
	font-size:24px;
	color:#FFFFFF;	
}

#logindesign{
	height:500px;
	width:1000px;
	margin-top:30px;
	margin-left:0px;
	font-family:sans-serif,arial;
	font-style:oblique;
	font-weight:bold;
	font-size:36px;
	color:#FFFFFF;

}
#logindesignsub{
	height:400px;
	width:700px;
	margin-top:30px;
	margin-left:30%;
	font-family:sans-serif,arial;
	font-style:oblique;
	font-weight:bold;
	font-size:36px;
	color:#FFFFFF;
	background-color:#FCF9D1;
  border:1px solid black;
 /* opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
 
  border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border: 1px solid #096600;
    -moz-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
		
}

#headersub{
	height:30px;
	width:600px;
	margin-top:0px;
	margin-left:12%;
	font-family:Amazone BT,Arial, Serif;
	font-style:oblique;
	font-weight:bold;
	font-size:20px;
	color:#FFFFFF;	
}
#headerstat{
    height:115px;
    width:600px;
    margin-top:0px;
    margin-left:0%;
    font-family:Amazone BT,Arial, Serif;
    font-style:normal;
    font-weight:bold;
    font-size:15px;
    color:#FFFF00;    
}
#loginpix{
	margin-top:0px;
	margin-left:0px;
	position:absolute;
	width:650px;
	height:400px;
	/*background-image:url(../images/logleft.png);
	background-repeat:no-repeat;
	*/
}

#fontlog {
position:absolute; 
width:53px; 
top:228px; 
font-family:Tahoma,Arial, Helvetica, sans-serif; 
font-size:14px;
font-style:normal;
padding:5px; 
left: 200px; 
color: #006;
}
#fontusername {
	position:absolute;
	width:153px;
	top:263px;
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	padding:5px;
	left: 200px;
	color: #006;
}
#fontpass
{
	position:absolute;
	width:151px;
	top:320px;
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	padding:5px;
	left: 200px;
	color: #006;
}

#fontmsg {
	position:absolute;
	width:353px;
	height:auto;
	top:200px;  /*183px*/
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	padding:5px;
	left: 0px; /*250px*/
	color: red;
}

#buttonlogin
{
	position:absolute;
	text-align:center;
	width:48px;
	top:396px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	padding:5px;
	left: 200px;
	color:#FFFFFF;
	background-color:#333;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border: 1px solid #096600;
	-moz-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
        0px 1px 3px rgba(255,255,255,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#006600), to(#00CC00));
	/* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #006600, #00CC00);
	/* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #006600, #00CC00);
	/* IE 10 */
  background: -ms-linear-gradient(top, #006600, #00CC00);
	/* Opera 11.10+ */
  background: -o-linear-gradient(top, #006600, #00CC00);
}
#logintype{
	position:absolute;
	width:338px;
	top:146px;
	font-style:normal;
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	font-size:11px;
	
	padding:5px;
	left: 194px;
	color: #006
}
