#headerboxleftlogo{
	float:left;
	height:25px;
	width:25px;
	margin-top:-15px;
	margin-left:-70px;	
}

#headerboxrigthlogo{
    float:left;
    height:25px;
    width:25px;
    margin-top:-15px;
    margin-left:4px;    
}


#centerdesign{
    float:left;
    margin-top:2px;    
    height:auto;    
    width:270px;    
    margin-left:auto;      
    border:0px solid black;  
}

#headerboxleftgrade{
    float:left;
    height:auto;
    width:auto;
    margin-top:60px;
    margin-left:1px;    
    border:0px solid black;
}

#headerboxrigthsubject{
    float:left;
    height:auto;
    width:125px;
    margin-top:50px;
    margin-left:40px;    
    border:0px solid black;
}


#centertitle{    
    float:left;
    height:auto;    
    width:270px;    
    margin-left:-290px;    
    margin-top:70px;
    border:0px solid black;
}

#displaygradesheet{    
    float:left;
    margin-top:0px;    
    height:auto;    
    width:1100px;
    margin-left:-170px;        
    font-size: large;
}
  
#headersub{
	height:115px;
	width:600px;
	margin-top:0px;
	margin-left:200px;
	font-family:Amazone BT,Arial, Serif;
	font-style:oblique;
	font-weight:bold;
	font-size:20px;
	color:#FFFFFF	
}


               